<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flis | Alimentação</title>
    <link rel="shortcut icon" href="../img/flis.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/alimentacao.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../slick/slick.js"></script>
    <script defer src="../js/alimentacao.js"></script>
</head>

<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
        <img src="../img/menu.png" alt="Icon Menu" class="menu-icon">
        <nav class="nav-header">
            <ul>
                <li><a href="saude.html">Saúde</a></li>
                <li id="menu-margem"><a href="videos.html">Educacional</a></li>
                <li class="dropdown dropbtn">
                    <div class="fitnessNav">Fitness</div>
                    <div class="dropdown-content">
                        <a href="alimentacao.html">Alimentação</a>
                        <a href="calculadora.html">Calculadora</a>
                        <a href="calendario.html">Calendário</a>
                    </div>
                </li>
                <li><a href="../../index.html" class="inicio">Início</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <div class="banner">
                <h2 class="titulo-alimento">Alimentação</h2>
                <div class="container-alimento">
                    <h4>Você sabia que pode e deve usar a alimentação
                        para cuidar da sua saúde? A natureza oferece
                        muitos alimentos que são extremamente benéficos
                        para a nossa saúde. Vamos conhecer alguns desses?
                    </h4>
                </div>
            </div>
            <div class="container-calc-video">
                <div class="container-coluna" id="coluna-frutas">
                    <h2 class="titulo-frutas">Frutas</h2>
                    <div class="container-frutas">
                        <div class="item" id="maca-texto">
                            <h2>Maçã</h2>
                            <p>A maçã é a primeira da lista dos alimentos saudáveis, pois é rica em fibras, vitamina C e numerosos antioxidantes.</p>
                        </div>
                        <div class="item" id="abacate-texto">
                            <h2>Abacate</h2>
                            <p>O abacate é um superalimento rico em gorduras saudáveis, fibras e diversos nutrientes. Ele é ótimo para a saúde do coração e pode ser usado em várias receitas.</p>
                        </div>
                        <div class="item" id="uva-texto">
                            <h2>Uva</h2>
                            <p>A uva é uma fruta deliciosa e rica em antioxidantes. Ela é uma excelente opção para lanches e também pode ser transformada em sucos ou vinhos deliciosos.</p>
                        </div>
                    </div>
                </div>
                <div class="container-coluna" id="coluna-imagens">
                    <h2 class="titulo-imagem">Imagens</h2>
                    <div class="container-imagens">
                        <div class="carousel">
                            <img src="../img/apple.jpg">
                            <img src="../img/abacate.png">
                            <img src="../img/uva.png">
                    </div>
                </div>
            </div>
            </div>
        </article>
    </main>

    <footer>
        <p>Todos os direitos reservados a Flis ©</p>
    </footer>
</body>
</html>
