<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/flis.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick.css?v2022">
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css?v2022">
    <link rel="stylesheet" href="../css/planos.css">
    <script defer src="../js/script.js"></script>
    <title>Flis | Planos</title>
</head>
<body>
  <header>
    <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    <img src="../img/menu.png" alt="Icon Menu" class="menu-icon">
    <nav class="nav-header">
        <ul>
            <li><a href="saude.html">Saúde</a></li>
            <li id="menu-margem"><a href="videos.html">Educacional</a></li>
            <li class="dropdown dropbtn">
                <div class="fitnessNav">Fitness</div>
                <div class="dropdown-content">
                    <a href="alimentacao.html">Alimentação</a>
                    <a href="calculadora.html">Calculadora</a>
                    <a href="calendario.html">Calendário</a>
                </div>
            </li>
            <li><a href="../../index.html" class="inicio">Início</a></li>
        </ul>
    </nav>
</header>
    <main>
      <section class="container-planos">
        <div class="planos">
          <h2 class="title">Plano Básico</h2>
          <div class="underline">De 22.13 por até:</div>
          <h2>R$14.97</h2>
          
          <ul>
            <div class="margem-lista">
            <li class="certo-lista">Atendimento especializado</li>
            <li class="certo-lista">Aplicativo de saúde feminina</li>

            </div>              
            <li class="underline-lista">Saúde mental</li>
            <li class="underline-lista">Planejamento familiar</li>
            <li class="underline-lista">Rede de especialistas</li>
            <li class="underline-lista">Programas de bem-estar</li>
            <li class="underline-lista">Serviços de suporte</li>
          </ul>

          <button class="button" style="vertical-align:middle"><span>Assinar </span></button>

        </div>
        <div class="planos">
          <h2 class="title">Plano Premium</h2>
          <div class="underline">De 35.41 por até:</div>
          <h2>R$24.75</h2>
          
          <ul>
            <div class="margem-lista">
              <li class="certo-lista">Atendimento especializado</li>
              <li class="certo-lista">Aplicativo de saúde feminina</li>
              <li class="certo-lista">Saúde mental</li>
              <li class="certo-lista">Planejamento familiar</li>
            </div>
            <li class="underline-lista">Rede de especialistas</li>
            <li class="underline-lista">Programas de bem-estar</li>
            <li class="underline-lista">Serviços de suporte</li>

          </ul>
          
          <button class="button" style="vertical-align:middle"><span>Assinar </span></button>
        </div>

        <div class="planos">
          <img src="../img/mais-completo.png" alt="" class="img-completo">
          <h2 class="title">Plano Gold</h2>
          <div class="underline">De 50.99 por até:</div>
          <h2>R$29.99</h2>
          
          <ul>
            <div class="margem-lista">
              <li class="certo-lista">Atendimento especializado</li>
              <li class="certo-lista">Aplicativo de saúde feminina</li>
              <li class="certo-lista">Saúde mental</li>
              <li class="certo-lista">Planejamento familiar</li>
              <li class="certo-lista">Rede de especialistas</li>
              <li class="certo-lista">Programas de bem-estar</li>
              <li class="certo-lista">Serviços de suporte</li>
            </div>
          </ul>
          
          <button class="button" style="vertical-align:middle"><span>Assinar </span></button>

        </div>
      </section>        
        <article>
            <h2>Nosso time de profissonais</h2>
        </article>
          <section class="variable slider" style="width: 100%;margin: 25px 25px ;">
              <div class="boxes">
                <img
                  src="https://www.caixa.gov.br/PublishingImages/Paginas/LT_T015/bannerheader_fundo_a_fundo.png"
                  alt="" class="img">
                  <h3>Joanse da Silva</h3>
                  <p>Estagiária na nossa empresa a 5 meses</p>
              </div>
              <div class="boxes">
                <img
                  src="https://www.diadamulher2023.sp.gov.br/wp-content/uploads/2023/03/mulher-dia-da-mulher.png"
                  alt="" class="img" style="width: 160px;">
                  <h3>Laura Machado</h3>
                  <p>Profissional da área de psicologia conosco á 3 anos.</p>
              </div>
              <div class="boxes">
                <img
                  src="https://augustocury.com.br/wp-content/uploads/2022/03/augusto-cury-cursos-mulher-brilhante.png"
                  alt="" class="img" style="width: 133px;">
                  <h3>Jessica Carvalho</h3>
                  <p>Estando conosco desde 2015, no começo da nossa empresa.</p>
              </div>
              <div class="boxes">
                <img
                  src="https://pbs.twimg.com/media/DlXO0T8WwAAvUyI.jpg:large"
                  alt="" class="img" style="border-radius: 13px 13px 0px 0px;">
                  <h3>Vitória Tavares</h3>
                  <p>Atuando desde 2021 como presidenta da nossa empresa.</p>
              </div>
              <div class="boxes">
                <img
                  src="https://t4.ftcdn.net/jpg/05/58/99/37/360_F_558993708_t144iGxwaXV1URjTUsyQW23HI49Jj6hh.jpg"
                  alt="" class="img" style="border-radius: 13px 13px 0px 0px;">
                  <h3>Cláudia Ramos</h3>
                  <p>Atuando como CEO da nossa empresa desde 2017.</p>
              </div>
              <div class="boxes">
                <img
                  src="https://carnegiebrasil.com.br/wp-content/uploads/2022/06/WOMAM-2-copiar-verde-1024x1020.png"
                  alt="" class="img" style="width: 180px;">
                  <h3>Carmem Dos Santos</h3>
                  <p>Funcionária do mês, atuando como desenvolvedora Front-End.</p>
              </div>
              <div class="boxes">
                <img
                  src="https://i.pinimg.com/originals/55/88/25/5588251dea933905c54ded5d23717616.jpg"
                  alt="" class="img" style="width: 122px;">
                  <h3>Larissa Manoela</h3>
                  <p>Atuando desde 2022 como conselheira.</p>
              </div>
          </section> 
    </main>
    <footer>
        <p>Todos os direitos reservados a Flis ©</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.0.min.js"></script>
<script src="../slick/slick.js?v2022" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).on('ready', function () {
    $(".vertical-center-4").slick({
      dots: true,
      vertical: true,
      centerMode: true,
      slidesToShow: 4,
      slidesToScroll: 2
    });
    $(".vertical-center-3").slick({
      dots: true,
      vertical: true,
      centerMode: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    $(".vertical-center-2").slick({
      dots: true,
      vertical: true,
      centerMode: true,
      slidesToShow: 2,
      slidesToScroll: 2
    });
    $(".vertical-center").slick({
      dots: true,
      vertical: true,
      centerMode: true,
    });
    $(".vertical").slick({
      dots: true,
      vertical: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    $(".regular").slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    $(".center").slick({
      dots: true,
      infinite: true,
      centerMode: true,
      slidesToShow: 5,
      slidesToScroll: 3
    });
    $(".variable").slick({
      dots: true,
      infinite: true,
      variableWidth: true
    });
    $(".lazy").slick({
      lazyLoad: 'ondemand', // ondemand progressive anticipated
      infinite: true
    });
  });
</script>
<script>
  try {
    fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
      return true;
    }).catch(function (e) {
      var carbonScript = document.createElement("script");
      carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
      carbonScript.id = "_carbonads_js";
      document.getElementById("carbon-block").appendChild(carbonScript);
    });
  } catch (error) {
    console.log(error);
  }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1VDDWMRSTH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-1VDDWMRSTH');
</script>
</html>