<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flis | Exercícios</title>
  <link rel="shortcut icon" href="../img/flis.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick.css?v2022">
  <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css?v2022">
  <link rel="stylesheet" href="../css/videos.css">
  <script defer src="../js/script.js"></script>
</head>

<body>
  <header>
    <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    <img src="../img/menu.png" alt="Icon Menu" class="menu-icon">
    <nav class="nav-header">
        <ul>
            <li><a href="saude.html">Saúde</a></li>
            <li id="menu-margem"><a href="videos.html">Educacional</a></li>
            <li class="dropdown dropbtn">
                <div class="fitnessNav">Fitness</div>
                <div class="dropdown-content">
                    <a href="alimentacao.html">Alimentação</a>
                    <a href="calculadora.html">Calculadora</a>
                    <a href="calendario.html">Calendário</a>
                </div>
            </li>
            <li><a href="../../index.html" class="inicio">Início</a></li>
        </ul>
    </nav>
</header>
  <a name="video-assistido"></a>
  <main>
    <!--Primeiro carrosel-->
    <article>
      <h2>Guia básico de contracepção</h2>
    </article>
    <section class="variable slider" style="width: 100%;margin: 25px 25px ;">
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/TzHAVV27pDw?si=69PHi8NHnq6gOgrx">
          <img
            src="https://i.ytimg.com/vi/TzHAVV27pDw/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAbf73mToGTUyC6_SZwYwnV_8hXpg"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/uJ1L8ngzeM0?si=oZcwrB01qqgegq0r">
          <img
            src="https://i.ytimg.com/vi/uJ1L8ngzeM0/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBEP5BfsluEyJ1K5KsD0_VzWhrNdg"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/wjmksiXEmeg?si=WGU1exxNNV6tHDP9">
          <img
            src="https://i.ytimg.com/vi/wjmksiXEmeg/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDmBbt_yRRn6vFPQyd7KVGvlPRoQQ"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/o2w6nEGIYMA?si=hbxz_DwLnWr3Y-LX">
          <img
            src="https://i.ytimg.com/vi/o2w6nEGIYMA/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC4LE-9hBCNQFaYfzOjbN15omdTcQ"
            alt="" class="img-video">
        </div>
      </a>
    </section>
    <!---Segundo Carrousel-->
    <article>
      <h2>Guia Ciclo Mestrual e Sintomas</h2>
    </article>
    <section class="variable slider" style="width: 100%;margin: 25px 25px ;">
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/sJdOkPWKVBM?si=EhFtIOGOy2XP8SsA">
          <img
            src="https://i.ytimg.com/vi/sJdOkPWKVBM/hq2.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC80HQDRpO6DX-RkqbnrwJ0ktcswg"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/jEs-pW1e1Ko?si=jZ0iNr-nrVt9XvXX">
          <img
            src="https://i.ytimg.com/vi/jEs-pW1e1Ko/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBd_h8IWdxJ-nkR8zS21_3hKMQYEQ"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/p-xtHP9jY2c?si=SW5uTAGIGlnsh7Uu">
          <img
            src="https://i.ytimg.com/vi/p-xtHP9jY2c/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBYpw4gYQBfQKQJNGqRSvSvo3WNhA"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/ePrCjSkJbgw?si=gbWcKocY3DDUdMmp">
          <img
            src="https://i.ytimg.com/vi/ePrCjSkJbgw/hq2.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&amp;rs=AOn4CLAxTF7Ej2gShrLTKdDWIBhrZSWsOw"
            alt="" class="img-video">
        </div>
      </a>
    </section>
    <!--Terceiro Carrousel-->
    <article>
      <h2>Guia Introdutório a Nutrição Feminina</h2>
    </article>
    <section class="variable slider" style="width: 100%;margin: 25px 25px ;">
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/GoVMIWCnZc4?si=qT4ZpSoZmE6WCIFc">
          <img
            src="https://i.ytimg.com/vi/GoVMIWCnZc4/hqdefault.jpg?sqp=-oaymwE2COADEI4CSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARgSIGUoPDAP&amp;rs=AOn4CLBvGdWAYr0FUUhATLJo80CVEP98TQ"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/xvRYxiyz7b0?si=V7-ipZFmcrXiLWV8">
          <img
            src="https://i.ytimg.com/vi/xvRYxiyz7b0/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&amp;rs=AOn4CLAA9H9MxAooXU50b24PioAqJwa3WA"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/QQDUwPm_Ip8?si=Cv2iL70WCwmUJiS_">
          <img
            src="https://i.ytimg.com/vi/QQDUwPm_Ip8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&amp;rs=AOn4CLCr6Ni6WlE2k8IMf_GJA6O3FBUJpA"
            alt="" class="img-video">
        </div>
      </a>
      <a href="#video-assistido">
        <div class="boxProduto" data-src="https://www.youtube.com/embed/r1zwH4141Lo?si=azD1Knnuqh1ZO7uF">
          <img
            src="https://i.ytimg.com/vi/r1zwH4141Lo/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&amp;rs=AOn4CLB1eRZOGVY3mSURJWrUmv6CyaXpJw"
            alt="" class="img-video">
        </div>
      </a>
  </main>

  <div class="iframe-container">
    <iframe src="" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <img src="../img/sair.png" alt="Botão de sair" class="btn-sair">

  <footer>
    <p>Todos os direitos reservados a Flis ©</p>
  </footer>
  
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.0.min.js"></script>
<script src="../slick/slick.js?v2022" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).on('ready', function () {
    $(".vertical-center-4").slick({
      dots: true,
      vertical: true,
      centerMode: true,
      slidesToShow: 4,
      slidesToScroll: 2
    });
    $(".vertical-center-3").slick({
      dots: true,
      vertical: true,
      centerMode: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    $(".vertical-center-2").slick({
      dots: true,
      vertical: true,
      centerMode: true,
      slidesToShow: 2,
      slidesToScroll: 2
    });
    $(".vertical-center").slick({
      dots: true,
      vertical: true,
      centerMode: true,
    });
    $(".vertical").slick({
      dots: true,
      vertical: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    $(".regular").slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
    $(".center").slick({
      dots: true,
      infinite: true,
      centerMode: true,
      slidesToShow: 5,
      slidesToScroll: 3
    });
    $(".variable").slick({
      dots: true,
      infinite: true,
      variableWidth: true
    });
    $(".lazy").slick({
      lazyLoad: 'ondemand', // ondemand progressive anticipated
      infinite: true
    });
  });
</script>
<script>
  try {
    fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
      return true;
    }).catch(function (e) {
      var carbonScript = document.createElement("script");
      carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
      carbonScript.id = "_carbonads_js";
      document.getElementById("carbon-block").appendChild(carbonScript);
    });
  } catch (error) {
    console.log(error);
  }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1VDDWMRSTH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-1VDDWMRSTH');
</script>

</html>